<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <button type="button" onclick="location.href='/cart/cart_list'">
      내 장바구니
    </button>

    <button type="button" onclick="location.href='/order/order_list'">
      주문내역
    </button>

    <button type="button" onclick="location.href='/user/community'">
      커뮤니티
    </button>
    <button type="button" onclick="location.href='/user/add-post'">
      글작성
    </button>
    <button type="button" onclick="location.href='/book/book-main'">
      메인화면
    </button>
    <br />
    <tbody>
      <% for(let i = 0; i < board.length; i++){%>
      <tr>
        <td>
          <a href="<%=board[i].category%>"><%=board[i].category%></a>
        </td>
        <br />
      </tr>
      <%}%>
      <a href="?isIngEvent=true">진행중인 이벤트</a>
    </tbody>
    <section id="read-form">
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>추천수</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i = 0; i < result.length; i++){%>
          <tr>
            <td><%=result[i].num%></td>
            <td>
              <a href="../post/<%=result[i].title%>"><%=result[i].title%></a>
            </td>
            <td><%=result[i].name%></td>
            <td><%=result[i].createdAt%></td>
            <td><%=result[i].recommended%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
