<!DOCTYPE html>
<html lang="ko">
  <head>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/comm.css" rel="stylesheet" type="text/css">
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
          <div class="head_top">
              <div class="info_mn">
                  <ul>
                      <li><button type="button" onclick="location.href='/cart/cart_list'">
                        장바구니
                        </button></li>
                      <li><button type="button" onclick="location.href='/order/order_list'">
                        주문목록
                        </button></li>
                      <li>
                        <% if(is_logined === false){%>
                          <button type="button" onclick="location.href='/user/login'">
                            로그인
                          </button>
                      </li>
                      <li>
                        <button type="button" onclick="location.href='/user/sign-up'">
                          회원가입
                        </button>
                      </li>
                      <li>
                        <%}else{%>
                        <button type="button" onclick="location.href='/user/myPage'">
                          마이페이지
                        </button>
                        </li>
                        <li>
                        <button type="button" onclick="location.href='/user/logout'">
                          로그아웃
                        </button>
                        <%}%>
                      </li>
                  </ul>
              </div>
          </div>
        </div>  
          <div class="head_bottom">
              <div class="logo"><a href="/">DSU서점</a></div>
              <div class="search">
                  <form action="/book/book-search" method="post" class="search_in">
                      <input
                        type="text"
                        class="input"
                        placeholder="검색어를 입력하세요."
                        id="book_name"
                        name="book_name"
                      />
                      <input type="submit" value="검색" class="btn"/>
                    </form>
              </div>
              <nav class="nav">
                  <ul>
                      <li><button type="button" onclick="location.href='/book/bestSeller'">
                        베스트셀러
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/eliteSeller'">
                        ElitePick
                      </button></li>
                      <li> <button type="button" onclick="location.href='/user/community'">
                        커뮤니티
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/bookList'">도서 목록</button></li>
                      <li><button>이벤트</button></li>
                  </ul>
              </nav>
          </div>

            <section class="contents2">
              <div class="list_num">
                <ul>
                  <% for(let i = 0; i < board.length; i++){%><% const detailUrl = "detail/"+ board[i].category %>
                    <li><a href="<%=detailUrl%>"><%=board[i].category%></a></li>
                    <%}%>
                    <li><a href="?isIngEvent=true">진행중인 이벤트</a></li>
                </ul>
            </div>
            <div class="board_wrap">
                <div class="board_title">
                    <h3>전체게시판</h3>
                </div>
                <div class="board_list_wrap">
                    <div class="board_list">
                        <div class="top">
                            <div class="num">번호</div>
                            <div class="title">제목</div>
                            <div class="write">글쓴이</div>
                            <div class="date">작성일</div>
                            <div class="recommend">추천수</div>
                        </div>
                        <div>
                          <% for(let i = 0; i < result.length; i++){%>
                            <div class="num"><%=result[i].num%></div>
                            <div class="title">
                              <a href="../user/post/<%=result[i].title%>"><%=result[i].title%></a>
                            </div>
                            <div class="write"><%=result[i].name%></div>
                            <div class="date"><%=result[i].createdAt%></div>
                            <div class="recommend"><%=result[i].recommended%></div>
                            <%}%>
                        </div>
                    </div>
                    <div class="board_page">
                        <a href="#" class="bt first"><<</a>
                        <a href="#" class="bt prev"><</a>
                        <a href="#" class="num on">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="bt next">></a>
                        <a href="#" class="bt last">>></a>
                    </div>
                    <div class="bt_wrap">
                      <button type="button" onclick="location.href='/user/add-post?isEvent=false'">
                        글작성
                      </button>
                    </div>
                </div>
            </div>
        </section>
    </div> 
  </body>
</html>
