<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <section id="detail-form">
      <article id="detail-view">
        <h2>제목</h2>
        <span><%= result.title %></span>
        <h2>내용</h2>
        <span><%=result.content %></span>

        <div id="things">
          <h2>작성자</h2>
          <span><%=result.name %></span>
          <h2>좋아요</h2>
          <span><%=result.recommended %></span>
          <h2>조회수</h2>
          <span><%=result.inquired %></span>
        </div>
      </article>

      <article id="btns">
        <input type="button" value="이전 페이지" onClick="history.go(-1)" />
        <input type="submit" value="장바구니 추가" />
        <input type="submit" value="바로 구매하기" />
      </article>
    </section>
  </body>
</html>
