<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <form action="/book/book-search" method="post">
      <label>도서 검색</label>
      <input
        type="text"
        class="input"
        placeholder="검색어를 입력하세요."
        id="book_name"
        name="book_name"
      />
      <input type="submit" value="검색" />
    </form>
    <button type="button" onclick="location.href='/cart/cart_list'">
      내 장바구니
    </button>

    <button type="button" onclick="location.href='/order/order_list'">
      내 주문목록
    </button>

    <button type="button" onclick="location.href='/user/community'">
      커뮤니티
    </button>
    <button type="button" onclick="location.href='/user/add-post?isEvent=true'">
      이벤트 글 작성
    </button>

    <section id="read-form">
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>번호</th>
            <th>제목</th>
            <th>가격</th>
            <th>작가</th>
            <th>장바구니 담기</th>
            <th>구매하기</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i = 0; i < result.length; i++){%>
          <form action="/cart/cart/book_add" method="post">
            <tr>
              <td><%=result[i].book_num%></td>
              <input
                type="hidden"
                name="book_num"
                value="<%=result[i].book_num%>"
              />
              <td><%=result[i].book_name%></td>
              <input
                type="hidden"
                name="book_name"
                value="<%=result[i].book_name%>"
              />
              <td><%=result[i].book_price%></td>
              <input
                type="hidden"
                name="book_price"
                value="<%=result[i].book_price%>"
              />
              <td><%=result[i].book_author%></td>
              <input
                type="hidden"
                name="book_author"
                value="<%=result[i].book_author%>"
              />
              <td>
                <input type="submit" value="장바구니 담기" />
              </td>
              <td>
                <input type="submit" value="바로 구매하기" />
              </td>
            </tr>
          </form>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
