<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
    <script src="../script/book.js" defer></script>
  </head>
  <form action="/book/book-search" method="post">
    <label>도서 검색</label>
    <input
      type="text"
      class="input"
      placeholder="검색어를 입력하세요."
      id="book_name"
      name="book_name"
    />
    <input type="submit" value="검색" />
  </form>
  <input type="button" value="이전 페이지" onClick="history.go(-1)" />
  <button type="button" onclick="location.href='/cart/cart_list'">
    내 장바구니
  </button>
  <section id="book-search-form">
    <table id="book-search-table">
      <thead>
        <tr id="field">
          <th>번호</th>
          <th>제목</th>
          <th>가격</th>
          <th>작가</th>
        </tr>
      </thead>

      <tbody>
        <% for(i = 0; i < result.length; i++){%> <% const detailUrl = "detail/"
        + result[i].book_name %>
        <form action="/cart/cart/book_add" method="post">
          <input type="hidden" name="book_num" value="<%=result[i].book_num%>">
          <td>
            <a href="<%=detailUrl%>"><%=result[i].book_name%></a>
          </td>
          <td><%=result[i].book_price%></td>
          <input type="hidden" name="book_price" value="<%=result[i].book_price%>">
          <td><%=result[i].book_author%></td>
          <input type="hidden" name="book_author" value="<%=result[i].book_author%>">
          <td>
            <input type="submit" value="장바구니 담기" />
          </td>
          <td><input type="submit" value="바로 구매하기" /></td>
        </form>
        </tr> 
        <%}%>
      </tbody>
    </table>
  </section>
</html>
